<div class="console_navbar">
    <a ng-href="console/home" ng-class="{console_navbar_selected : routedata.area == 'Home', console_navbar_deselected : routedata.area !== 'Home'}">HOME</a>
    <a ng-href="console/projects" ng-class="{console_navbar_selected : routedata.area == 'Projects', console_navbar_deselected : routedata.area !== 'Projects'}">PROJECTS</a>
    <a ng-href="console/likes" ng-class="{console_navbar_selected : routedata.area == 'Likes', console_navbar_deselected : routedata.area !== 'Likes'}">LIKES</a>
    <a ng-href="console/following" ng-class="{console_navbar_selected : routedata.area == 'Following', console_navbar_deselected : routedata.area !== 'Following'}">FOLLOWING</a>
    <a ng-href="console/followers" ng-class="{console_navbar_selected : routedata.area == 'Followers', console_navbar_deselected : routedata.area !== 'Followers'}">FOLLOWERS</a>
    <a ng-href="console/comments" ng-class="{console_navbar_selected : routedata.area == 'Comments', console_navbar_deselected : routedata.area !== 'Comments'}">COMMENTS</a>
    <a ng-href="console/account" ng-class="{console_navbar_selected : routedata.area == 'Settings', console_navbar_deselected : routedata.area !== 'Settings'}">ACCOUNT</a>
</div>